extends base
block header
	title websiteName

block content 
	.row(id="loginBox")
		.col-6.offset-3
			h1 Login
			br
			a.btn.btn-facebook(href="/auth/facebook")
				i(class="fab fa-facebook-f")
				|  | Connect with Facebook

			|
			|
			a.btn.btn-twitter(href="/auth/twitter")
				i(class="fab fa-twitter")
				|  | Connect with Twitter


